*{
    margin: 0;
    padding: 0;
    background-color: #121212;
}
body {
    width: 100vw;
    height: 100vh;
}
.zagrade,
a{
    color: #D75F5F;
}
.guest {
    color: #FFAF5F;
}
.host{
    color: #85AFD7;
}
label,
#input
{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: #ebdbb2;
}
label,
#input{
  /*  font-family: 'Courier New', Courier, monospace;*/
    color: white;
    border: none;
    width: 70%;
    font-size: 16px;
}
#input:focus {
    outline: none;
}
#znak{
    color: #ebdbb2;
}
#terminal,
#term_pre{
    margin-left: 10px;
}
#terminal{
    margin-bottom: 5px;
}
.cow{
    margin-top: 10px;
    border: dashed #83a598;
    width: 50vw;
    text-align: center;
}
.cowsay_asciiart{
    margin-top: 5px;
    color: #ebdbb2;
}
#cow_ASCII{
    display: none;
    color:white;
}

